p,h1,h2,h3 {
    color:#FFCC00;
}
.oculi-text {
    font-family:"oculi-text",sans-serif;
    font-style: medium;
    font-size: 16px;
}
h1{
    font-family:faust, sans-serif;
    font-style:extra-bold;
    font-size: 43px;
}
h2{
    font-family:faust, sans-serif;
    font-style:bold;
    font-size: 33px;
}
h3{
font-weight: 900;
font-style: normal;
font-size: 22px;
}
body {
    background-color:#471396;
}




/* MEDIA QUERIES */
@media (min-width:700px) {
    
}